* {
  padding: 0;
  margin: 0;
}
.navi1 {
  background-color: white;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.logo {
  width: 30%;
}

.logo img {
  margin: 3% 0% 0% 20%;
}

.listnavi {
  width: 35%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.listnavi ul {
  display: flex;
  list-style: none;
  padding-left: 50px;
  font-size: 100%;
  margin: 4% 0% 0% 0%;
}

.listnavi ul li {
  padding: 10px 0px 0px 20px;
}
.listnavi ul li a{
  text-decoration: none;
  /* color: #1567b1 */
  color: #475b7c;
}
.listnavi ul li a:hover{
    color: #1567b1
}

.contectnavi {
  width: 13%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  font-weight: bold;
  padding: 28px 0px 0px 50px;
}
.contectnavi a{
  color: #475b7c;
  text-decoration: none;
}
.contectnavi a:hover{
 color: #1567b1;
}
.fa-solid {
  color: #359d56;
  font-size: 17px;
}
.navibutton {
  padding: 5px 0px 0px 0px;
}

.navibutton button {
  border: 2px solid;
  border-color: rgb(21, 103, 177);
  background-color: rgb(21, 103, 177);
  border-radius: 15px;
  height: 9vh;
  width: 140%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 100%;
  font-weight: 700;
}
.navibutton button:hover{
  background-color: rgb(24, 116, 196);
}
.aboutimg {
  margin-top: 30px;
  background-image: url("inner-banner.webp");
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100%;
  height: 60vh;
}
.about h1 {
  padding-top: 10%;
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.about1 {
  margin-left: 7%;
  height: 95vh;
  width: 85%;
  display: flex;
}
.about11 {
  height: 85vh;
  width: 50%;
  font-family: sans-serif;
}
.about11 h1 {
  padding-top: 20%;
  font-size: 70px;
  line-height: 0.9;
}
.about11 p {
  color: #475b7c;
  padding-top: 5%;
  font-size: 20px;
  font-weight: 300;
  /* line-height: 0.9; */
}
.about12 {
  height: 85vh;
  width: 50%;
  margin-left: 2%;
}
.about2 {
  height: 60vh;
  width: 100%;
}
.about21 {
  font-family: sans-serif;
  margin-left: 7%;
  padding-top: 4%;
  height: 35vh;
  width: 85%;
}
.about21 h1 {
  /* padding-top: 20%; */
  font-size: 70px;
}
.about21 p {
  color: #475b7c;
  padding-top: 2%;
  font-size: 20px;
  font-weight: 300;
}
.about22 {
  padding: 20px 0px 0px 0px;
  margin: 25px 0px 0px 40%;
  height: 40px;
  width: 18%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  color: #1567b1;
  background: #fff;
  border: #1567b1 solid 2px;
}
.about22:hover {
  background: linear-gradient(
    90deg,
    rgba(21, 103, 177, 1) 0%,
    rgba(53, 157, 86, 1) 100%
  );
  color: #fff;
}
.about22 a {
  font-weight: 600;
  color: #1567b1;
  text-decoration-line: none;
  font-size: 130%;
  text-align: center;
}

.body6 {
  height: 110vh;
  width: 100%;
  background-color: #deefe4;
  margin-top: 6%;
}
.body6 h2 {
  font-size: 53px;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  padding-top: 7%;
}
.body6 p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  line-height: 3;
}
.body61e {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.body61 {
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  height: 48vh;
  width: 28%;
}
.body62 {
  justify-content: center;
  margin-left: 3%;
  border-radius: 25px;
  background-color: white;
  height: 48vh;
  width: 28%;
}
.body63 {
  justify-content: center;
  margin-left: 3%;
  border-radius: 25px;
  background-color: white;
  height: 48vh;
  width: 28%;
}
.body61e h4 {
  font-size: 23px;
  color: #0c0c0f;
  font-weight: 800;
  text-align: center;
  font-family: sans-serif;
}
.body61e p {
  margin-top: 40px;
}
.p61 {
  padding-left: 7px;
}
.about3{
  margin-top: 6%;

  height: 110vh;
  width: 86%;
  display: flex;
  margin-left: 7%;
}
.about31 {
 
  height: 95vh;
  width: 50%;
  font-family: sans-serif;
}
.about32 {

  height: 100vh;
  width: 50%;
  margin-left: 2%;
}
.about311{
  height: 20vh;
  width: 100%;
  margin-top: 4% ;
  font-size: 34px;
  line-height: 1;
}
.about312{
  margin-top: 3%;
  background: #D2E9DA;
  height: 15vh;
  width: 100%;
  border-radius: 20px;
}
.about312 h5{
  font-weight: 700;
  font-size: 26px;
  padding: 35px 0px 0px 23px;
}
.about4{
  height: 75vh;
  width: 100%;
  font-family: sans-serif;
}
.about41 h1{
font-size: 90px;
text-align: center;
line-height: 0.9;
padding-top: 5%;
}
.about42 p{
  font-size: 16px;
text-align: center;
padding-top: 2%;
font-weight: 800;
}
.about43 {
  padding-top: 2%;
  display: flex;
    align-items: center;
    justify-content: center;
}

.about43 button {
  
  border: 2px solid #359D56;;
  background-color: #359D56;
  border-radius: 13px;
  height: 9vh;
  width: 16%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.body9 {
  width: 100%;
  height: 28vh;
  text-align: center;
  font-family: sans-serif;
}
.body9 h2 {
  font-size: 320%;
}
.body9 p {
  padding-top: 15px;
  font-size: 130%;
  color: rgb(71, 91, 124);
}
.body10 {
  height: 95vh;
  width: 82%;
  margin-left: 9%;
}
.box {
  height: 72vh;
  width: 100%;
  display: flex;
}
.box1 {
  background-color: rgb(223, 239, 228);
  height: 65vh;
  width: 50%;
  border-radius: 10%;
}
.content1 {
  height: 50vh;
  width: 84%;
  margin-left: 8%;
  margin-top: 8%;
}
.box2 {
  background-color: rgb(223, 239, 228);
  height: 65vh;
  width: 50%;
  border-radius: 10%;
  margin-left: 5%;
}
.boxh {
  font-weight: 800;
  color: #000000;
  height: 10vh;
  /* width: 100%; */
  display: flex;
}
.boxh p img {
  width: 100%;
  height: 10vh;
}
.boxh h6 {
  font-size: 130%;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 0px 0px 25px;
}
.boxp p {
  color: #676767;
  font-family: sans-serif;
  margin-top: 22px;
  height: 9vh;
  line-height: 1.8;
  text-align: left;
}

.body11 {
  background-image: url("x-big.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 110vh;
  width: 60%;
  margin-left: 20%;
}
.titleform {
  height: 26vh;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}
.titleform h1 {
  font-size: 330%;
}
.titleform p {
  padding-top: 20px;
  font-size: 130%;
  color: rgb(71, 91, 124);
}
.form {
  height: 60vh;
  width: 100%;
  color: #676767;
}
.input1 input {
  padding-left: 2%;
  margin-left: 1.1%;
  height: 8vh;
  width: 95%;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif;
  border: 1px solid #1567b1;
}
.inputtwo {
  display: flex;
  width: 100%;
}
.input2 input {
  margin-top: 14%;
  padding-left: 9%;
  margin-left: 5%;
  height: 8vh;
  width: 176%;
  border-radius: 10px;
  border: 1px solid #1567b1;
  font-size: 16px;
  font-family: sans-serif;
  column-gap: 100px;
}
#twomargin {
  margin-left: 27%;
}
.input3 textarea {
  margin-top: 4%;
  padding-left: 2%;
  padding-top: 2%;
  margin-left: 1.1%;
  height: 120px;
  width: 95%;
  border-radius: 10px;
  border: 1px solid #1567b1;
  font-size: 16px;
  font-family: sans-serif;
}
.button11 button {
  background-color: #359d56;
  height: 9vh;
  width: 25%;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: 500;
  font-size: 19px;
  color: white;
  margin: 3% 0% 0% 40%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.button11 button:hover {
  background-color: rgb(21, 103, 177);
  /* box-shadow: 5px 5px 10px rgb(96, 63, 241); */
  transform: translateY(-6px);
  -moz-box-shadow: 0 5px 10px rgba(96, 63, 241, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(96, 63, 241, 0.5);
  box-shadow: 0 5px 10px rgba(96, 63, 241, 0.5);
}
.body12 {
  height: 132vh;
  width: 100%;
  background: linear-gradient(90deg, rgba(21, 103, 177, 1) 0%, rgba(53, 157, 86, 1) 100%);
}
.logofooter {
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentfooter {
  display: flex;
  margin-top: 2%;
  height: 83vh;
  width: 70%;
  display: flex;
  margin-left: 8%;
  font-family: sans-serif;
}
.fcontent1 {
  height: 40vh;
  width: 42%;
}
.fcontent1 ul{
  list-style: none; 
}
.fcontent1 ul li{
  display: flex;
  color: white;
  /* font-family: sans-serif; */
  padding-top: 10%;
}
.fcontent1 img{
  /* padding: 8% 0% 0% 0%; */
}
.fcontent1 p{
  padding: 3% 0% 0% 5%;
  font-weight: 600;
  font-size: 120%;
}
.fcontent2 {
  margin-left: 8%;
  height: 55vh;
  width: 42%;
  margin-top: 16px;
}
.fcontent2 ul{
  list-style: none;
}
.fcontent2 ul li{
  padding-top: 7%;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.fcontent3 {
  margin-left: 8%;
  height: 40vh;
  width: 28%;
  margin-top: 20px;
}
.fcontent3 ul{
  list-style: none;
}
.fcontent3 ul li{
  padding-top: 7%;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
.footer{
  width: 100%;
  height: 11vh;
}
.fcontent{
  margin: 2px 0px 0px 8%;
  width: 84%;
  height: 6vh;
  display: flex;
  font-family: sans-serif;
}
.fc1{
  width: 40%;
  height: 8vh;
}
.fc1 p{
  text-align: center center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-top: 6%;
}
.fc2{
  margin-left: 20%;
  width: 40%;
  height: 8vh;
  text-align: center;
}
.fc2 ul{
  display: flex;
  list-style: none;
  padding-left: 300px;
}
.fc2 ul li{
  padding: 24px 0px 0px 20px;
  color: white;

}
.fa-brands{
  font-size: 22px;
}
